body {
  font-family: sans-serif;
}

.carousel__container {
  display: flex;
  width: 100%;
  height: 150px;
  overflow: hidden;
  justify-content: center;
}

.carousel__main {
  width: 100%;
  display: flex;
  position: absolute;
}

.carousel__slider {
  width: 100%;
}

.carousel__button {
  background: white;
  border: none;
  outline: none;
  position: relative;
  font-size: 24px;
}

.carousel__next {
  right: 0px;
}

.carousel__back {
  left: 0px;
}

.carousel__button svg {
  color: grey;
}

.sliderAnimation___300FY {
  transition: transform 1.5s;
}

.carousel__header {
  background: url('./insta.jpg') no-repeat;
  width: 100%;
  background-position: center;
  height: 211px;
  position: relative;
  top: 20px;
}

@media only screen and (max-width: 439px) {
  .carousel__slide {
    max-width: 126px;
    max-height: 126px;
  }
  .slide__container {
    max-width: 126px;
    max-height: 126px;
    overflow: hidden;
  }
  
  .slide__img {
    max-width: 126px;
    min-height: 126px;
  }
}

.carousel__slide {
  margin-right: 2px;
}

@media only screen and (min-width: 440px) {
  .carousel__slide {
    max-width: 138px;
    max-height: 138px;
  }
  .slide__container {
    max-width: 138px;
    max-height: 138px;
    overflow: hidden;
  }

  .slide__img {
    max-width: 138px;
    min-height: 138px;
  }
}

@media only screen and (min-width: 550px) {
  .carousel__slide {
    max-width: 150px;
    max-height: 150px;
  }
  .slide__container {
    max-width: 150px;
    max-height: 150px;
    overflow: hidden;
  }

  .slide__img {
    max-width: 150px;
    min-height: 150px;
  }
}